{% load static %}
<html>
    <head>
        <title>オレンジ色の少年の冒険</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header"> 
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}            
            <h1><a href="/">オレンジ色の少年の冒険</a></h1>            
            <div class="row text-align-middle">
            {% if request.user.is_anonymous %}
                <div class="col-sm-2">
                    <h4 class="link"><a href="{%url 'login'%}" class="link">Iniciar Sesión</a></h4>
                </div>
                <div class="col-sm-2">
                    <h4 class="link"><a href="{%url 'sign_up'%}" class="link">Registrarse</a></h4>
                </div>
            {% elif user.is_authenticated%}
                <div class="col-sm-2">
                    <h4 class="link">Bienvenido, {{user.username}}</h4>
                </div>
                <div class="col-sm-2">
                    <h4 class="link"><a href={%url 'logout'%} >Cerrar Sesión</a></h4>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>